.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    font-size: 24px;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.2;
}
