/* GRID GALERIA */
.grid-galeria {
    display: grid;
    height: 50vh;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
    column-gap: 10px;
}

.big {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    transition: all 2s;
}

.box1--scale:hover {
    transform: scale(1.5);
}


.grid-galeria img {
    width: 75%;
    height: 75%;
    object-fit: cover;
}

img.big {
    grid-column:  span 2;
    grid-row: span 2;
}