$degradado: linear-gradient(to right, #dcdfe3, #a0a5a7, #6a6e6e, #393c3a, #0c0d0a);
$header_alto: 100px;

$blanco: #fff;
$modo: dark;
$dark_background: #2f3235;
$dark_background_card: #3a3f44;
$dark_text: #aaa;
$dark_link: #e9ecef;